@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

*:focus {
  outline: none;
}

.error-message {
  margin: 5px 0;
  color: #ff4d4f;
}

.logo {
  height: 100%;
}