@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: 'Montserrat';
}

*:focus {
  outline: none;
}

.error-message {
  margin: 5px 0;
  color: #ff4d4f;
}

.logo {
  height: 100%;
}

.fullScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* --------------------------------------------------------------------------- */
/* CSS PARA TABLA DE REPORTE DE INGRESOS */
.rep-ing-row__header {
  margin: 5px auto;
  justify-content: center;
}

.rep-ing-title__h1 {
  margin: 20px auto;
  width: 200px;
  color: #55575A;
}

.rep-ing-main-div__table {
  margin: 50px auto;
  width: 600px;
}

.rep-ing__table {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}

.rep-ing__th,
.rep-ing__td {
  padding: 20px;
}

.rep-ing__thead {
  background-color: #6B99CA;
  color: white;
  font-weight: normal;

}

.rep-ing__tr:nth-child(even) {
  background-color: #C8D1DB;
}

.rep-ing__tr:hover {
  background-color: #7FB9F7;
  color: white;
}

.rerp_ing__modal {
  width: 900px;
}

/* CSS PARA REPORTE DE PROYECTOS*/

.rep-pro__header {
  text-align: center;
}

.rep-pro__button--buscar {
  margin-left: 5%;
}

/* TABLA */
.rep-pro__table--proyecto {
  margin-top: 25px;
}

.rep-pro__tr--header {
  background-color: #6B99CA;
  color: white;
}

.rep-pro__th {
  text-align: center;
  color: white;
  padding: 10px;
}

/* ---------------------------------------------------------- */
.rep-pro-button__salir {
  position: relative;
  left: 30%;
}

/*-----------------FORM EDITAR TERRENO--------------------*/
.terreno-edit__form-item {
  margin-bottom: 5px;
}

.terreno-edit__input-in {
  margin-bottom: 5px;
}

.terreno-edit__botones-footer {
  margin-top: 20px;
  margin-bottom: -20px;
}

.menu p {
  color: rgb(67, 141, 204);
}

.titulo_pantallas {
  background-color: rgb(67, 141, 204);
  height: 50px;
  border-radius: 30px;
  color: white;
  text-align: center;
  align-content: center;
  font-size: 20px;

}

.boton {
  background-color: rgb(67, 141, 204);
  color: white;
}

.boton-eliminar {
  background-color: rgb(204, 67, 67);
  color: white;
}

.boton-cancelar {
  background-color: gray;
  color: white;
}

.tabla {
  border: 2px solid rgb(66, 142, 202);
}

.large {
  width: 70vw;
}

.tabla tbody tr {
  border-top: 2px solid rgb(66, 142, 202);
  ;
  /* Define el borde para todas las filas */
  border-bottom: 2px solid rgb(66, 142, 202);
  ;
  /* Define el borde para todas las filas */
}


.tabla_encabezado p {
  color: rgb(67, 141, 204);
  font-size: 18px;
}

.formulario {
  color: white;
  background-color: rgb(29, 105, 155);
  border-radius: 30px;
  padding: 10px;
  font-size: 18px;

}

.formulario_alterno {
  background-color: rgb(66, 142, 204);
  color: white;
  border-radius: 30px;
  padding: 10px;
  font-size: 18px;

}

.input_formulario {
  /* background-color: rgb(66,142 ,204 ); */
  border: none;
}

.informacion_col {
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.renglon_otro_color {
  background-color: rgb(29, 105, 155);


}

.renglon_color {
  background-color: rgb(66, 142, 204);
  color: white;
}

/* ------------------ CSS PARA MODAL EDITAR PAGO 04/06/2024 ------------------- */

.modal-edit-pago__div--inputs-container {
  margin: 0 auto;
  margin-top: 16px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.modal-edit-pago__div--inputs {
  margin: 0 auto;
  margin-top: 16px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 6vh;
}

.modal-edit-pago__input--sis-pago {
  width: 100%;
}

.modal-edit-pago__div--inputs-fechas {
  margin: 0 auto;
  margin-top: 32px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.modal-edit-pago__div-buttons {
  margin: 0 auto;
  margin-top: 32px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.modal-edit-pago__label--input {
  margin-bottom: 8px;
  font-family: sans-serif;
  font-weight: bolder;
  color: rgb(29, 105, 155);
}

.modal-edit-pago__label--input:hover {
  text-decoration: underline;
}

.modal-edit-pago__input--fecha {
  padding: 5px;
  border-radius: 5px;
  border-color: rgb(221, 221, 221);
  border-width: 1px;
}

.modal-edit-pago__input--fecha:hover {
  border-color: rgb(67, 141, 204);
}